/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: aqua;
    color: rgb(249, 245, 245);
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav a {
    color: rgb(254, 248, 248);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px;
    
}

.biodata .bio-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: aqua;
    color: white;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.5rem 0;
}
body.dark-mode {
    background-color: #121212;
    color: #f4f4f4;
}

body.dark-mode nav a {
    color: #f4f4f4;
}

body.dark-mode footer {
    color: #f4f4f4;
}
